.contacts-container {
    height: 100%;
}

.user-card-list {
    padding: 20px;
    width: 100%;
    max-height: 100%;

    @include display-flex;
    @include justify-content(space-between);
    @include flex-wrap(wrap);
}

.user-card {
    @include panel();
    @include flex-grow(1);
    margin: 10px;

    @include transform(scale3d(0.8, 0.8, 1));
    opacity: 0;
    @include transition(transform 0.3s ease 0s, opacity 0.3s ease 0s);

    &.display {
        opacity: 1;
        @include transform(scale3d(1,1,1));
    }

    &.hidden {
        display: none;
    }
} 