.contacts-container {
    height: 100%;
    @include display-flex;
    @include justify-content(space-between);
    @include align-items(stretch);
    @include flex-wrap(wrap);
}

.contacts-grid {
    position: relative;
    @include flex-grow(1);
}

.contacts-form-container {
    @include flex-basis(200px);
}

.contacts-form {
    padding: 30px;
}

.user-card-list {
    padding: 20px;
    width: 100%;
    height: 100%;

    @include display-flex;
    @include justify-content(space-between);
    @include align-items(baseline);
    @include flex-wrap(wrap);

}

.user-card {
    @include panel();
    @include flex-grow(1);
    margin: 10px;

    @include transform(scale3d(0.8, 0.8, 1));
    opacity: 0;
    @include transition(transform 0.3s ease 0s, opacity 0.3s ease 0s);

    &.active {
        opacity: 1;
        @include transform(scale3d(1,1,1));
    }
} 