.group-list {
    @include off-canvas-list();

    li {
        position: relative;
        right: 100%;
        overflow: hidden;
        @include transition(right .1s ease-out);

        &.active > a {
            background-color: $primary-color;
        }

        &.display {
            right: 0;
        }

        &:first-child button,
        &:nth-child(2) button {
            display: none;
        }

        &:hover {
            .icon-edit,
            .icon-destroy {
                bottom: rem-calc(12px);
            }
        }
    }

    .icon-edit,
    .icon-destroy {
        bottom: -100%;
        right: rem-calc(10px);
        position: absolute;

        @include border-radius(100px);
        width: rem-calc(25px);
        height: rem-calc(25px);

        @include transition(bottom .2s ease-out);
    }

    .icon-edit {
        right: rem-calc(43px);
        @include transition-delay(.05s);
    }
}

.tab-bar {
    @include tab-bar-base;
}

.tab-bar-section { 
    @include tab-bar-section;

    > div,
    > h1 {
        display: inline-block;
    }
}

.group-form {
    width: 100%;
    @include transform(translateZ(0));

    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: -100%;
    background: $oil;

    overflow: hidden;

    @extend %flex-centre;

    @include transition(left .2s ease-out);

    &.active {
        left: 0;

        .row {
            opacity: 1;
            top: 0;
            right: 0;
        }
    }

    .row {
        padding: 0 20px;
        position: relative;
        right: 100%;

        @include transition(right .2s .3s, top .2s .5s, opacity .4s .5s);
    }

    .row-buttons {
        text-align: right;
        right: 0;
        top: 100%;
        opacity: 0;
    }
}