%button-icon {
    left: -6px;
    position: relative;
}

.button-ok {
    &:before {
        @extend %button-icon;
        @include fa-icon($fa-check);
    }
}

.button-cancel {
    &:before {
        @extend %button-icon;
        @include fa-icon($fa-close);
    }
}

.button-user {
    &:before {
        @extend %button-icon;
        @include fa-icon($fa-user);
    }
}

%base-icon {
    &:before {
        font-size: 1rem !important;
    }

    font-size: 0 !important;
    text-align: center;
    padding: rem-calc(5px);
    margin: 0;
}

.icon-ok {
    &:before {
        @include fa-icon($fa-check);
    }

    @extend %base-icon;
}

.icon-plus {
    &:before {
        @include fa-icon($fa-plus);
    }

    @extend %base-icon;
}

.icon-destroy {
    &:before {
        @include fa-icon($fa-trash);
    }

    @extend %base-icon;
}

.icon-edit {
    &:before {
        @include fa-icon($fa-pencil);
    }

    @extend %base-icon;
}

/**
 * Contacts icons
 */
%contact-icon-base {
    font-size: 1rem !important;
    margin-right: 5px;
}
.icon-phone {
    &:before {
        @include fa-icon($fa-phone);
        @extend %contact-icon-base;
    }
}
.icon-email {
    &:before {
        @include fa-icon($fa-at);
        @extend %contact-icon-base;
    }
}
.icon-address {
    &:before {
        @include fa-icon($fa-map-marker);
        @extend %contact-icon-base;
    }
}
.icon-custom {
    &:before {
        @include fa-icon($fa-magic);
        @extend %contact-icon-base;
    }
}
.icon-url {
    &:before {
        @include fa-icon($fa-link);
        @extend %contact-icon-base;
    }
}
