.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.column-left {
    width: $aside-width;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;

    overflow-y: auto;

    background: #333;
    color: rgba($white, 0.7);
}

.column-right {
    margin-left: $aside-width;
    margin-top: $topbar-height;
}

.top-bar {
    position: fixed;
    top:0;
    right: 0;
    left: $aside-width;
    z-index: 1;

    .top-bar-section {
        text-align: center;
    }

    .search-container {
        display: inline-block;
    }
}