.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.column-left {
    width: $aside-width;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;

    overflow-y: auto;

    background: $oil;
    color: rgba($white, 0.7);
}

.column-right {
    margin-left: $aside-width;
    margin-top: $topbar-height;
}

.top-bar {
    position: fixed;
    top:0;
    right: 0;
    left: $aside-width;
    z-index: 3;

    .top-bar-section {
        text-align: center;
    }

    .title-area {
        z-index: 1;
    }
}

.github {
    &:before {
        @include fa-icon($fa-github);
        margin-right: 10px;
    }

    &:hover {
        // *** foundation uses too long selectors
        // e.g. `.top-bar .name h1 a`
        color: $primary-color !important;
    }
}

.l-2columns {
    &:after {
        @extend %clear-both;
    }

    padding: 30px;
}

.l-2columns-column {
    float: left;
    width: 50%;

    &:first-child {
        padding-right: 30px;
    }
}