.person-form {
    @extend %panel;
    padding: 0;
}

.person-form--new {
    background-color: lighten($primary-color, 5%);
}

.no-transition {
    @include transition(none !important);
}

.person-form {
    overflow: hidden;
    max-height: 90%;

    position: fixed;
    z-index: 10;

    left: 0;
    top: 0;
    @include transform(none);

    @include transition-duration(.6s);
    @include transition-delay(.1s);
    @include transition-property(
        width,
        height,
        left,
        top,
        transform
        );
    @include transition-timing-function(cubic-bezier(0.7, 0, 0.3, 1));

    > form {
        visibility: hidden;
        opacity: 0;
        @include transition(opacity .3s ease .6s);

        .row {
            $transition-start: .4;
            opacity: 0;
            @include transform(scale(.85));
            @include transition(transform .2s ease $transition-start * 1s);

            @for $i from 1 through 20 {
                &:nth-child(#{$i}) {
                    @include transition-delay(($transition-start + .05*$i) * 1s);
                }
            }
        }
    }

    &.morph-active {
        left: 50% !important;
        top: 50% !important;

        @include transform(translate(-50%, -50%));

        > form {
            opacity: 1;
            visibility: visible;

            .row {
                opacity: 1;
                @include transform(none);
            }
        }
    }
}

.two-in-row {
    * {
        display: inline-block;
    }

    span {
        width: 30%;
        float: left;
    }
    
    input {
        width: 70%;
    }
}

.person-form > form {
    min-width: 765px;
}

.top-bar {
    .person-form {
        input {
            margin-bottom: 10px;
            height: 2.3125rem;
        }

        .two-in-row span {
            top: 7px;
        }

        .dropdown-menu {
            li {
                float: none;
            }
        }
    }
}