.two-in-row {
    * {
        display: inline-block;
    }

    span {
        width: 30%;
        float: left;
    }
    
    input {
        width: 70%;
    }
}

.person-form > form {
    min-width: 765px;
}

.top-bar {
    .person-form {
        input {
            margin-bottom: 10px;
            height: 2.3125rem;
        }

        .two-in-row span {
            top: 7px;
        }

        .dropdown-menu {
            li {
                float: none;
            }
        }
    }
}