.dropdown-content {
    @include dropdown-container($content:list, $triangle:bottom);
}

.dropdown-menu {
    list-style: none;
    margin: 0;

    li {
        @include dropdown-style;
    }
}

.align-right {
    text-align: right;
}

.button--no-margin {
    margin: 0;
}