@import "compass/css3";
@import "normalize";

@import "foundation-settings";
@import "foundation";

@import "font-awesome/variables";
@import "font-awesome/font";
@import "font-awesome/mixins";

@mixin flex-centre() {
    /* Vertical centering */
    @include display-flex;
    @include justify-content(center);
    @include flex-direction(column);
}

$aside-width: 205px;

@import "layout";

@import "person-cards";
@import "person-card-form";
@import "groups";
@import "user";

@import "icons";

@import "perfect-scrollbar";

html,
body {
    height: 100%;
}

.dropdown-content {
    @include dropdown-container($content:list, $triangle:bottom);
}

.dropdown-menu {
    list-style: none;
    margin: 0;

    li {
        @include dropdown-style;
    }
}

.align-right {
    text-align: right;
}