@import "compass/css3";
@import "normalize";

@import "foundation-settings";
@import "foundation";

@import "font-awesome/variables";
@import "font-awesome/font";
@import "font-awesome/mixins";

@mixin flex-centre() {
    /* Vertical centering */
    @include display-flex;
    @include justify-content(center);
    @include flex-direction(column);
}

$aside-width: 205px;

@import "layout";

@import "person-cards";
@import "person-card-form";
@import "groups";

@import "icons";

html,
body {
    height: 100%;
}

.dropdown-content {
    @include dropdown-container($content:list, $triangle:bottom);
}

.dropdown-menu {
    list-style: none;
    margin: 0;

    li {
        @include dropdown-style;
    }
}

.user {
    .user-name,
    .user-form {
        @include transition(opacity .4s);
    }

    .user-form {
        height: $topbar-height;
        margin-top: -$topbar-height;
        opacity: 0;
    }

    .user-name {
        opacity: 1;
    }

    &:hover {
        .user-name {
            opacity: 0;
        }

        .user-form {
            opacity: 1;
        }
    }

    .row {
        width: 110px;
        display: inline-block;
        vertical-align: middle;
        height: 30px;
    }

    .icon-ok {
        width: 35px;
        height: 30px;
    }
}

.align-right {
    text-align: right;
}