<label class="inline">{{typeLabel}}</lablel>
<input type="text" name="label" value="{{label}}" placeholder="Home, Work etc." />
<input type="text" name="value" value="{{value}}" placeholder="{{valuePlaceholder}}" />
<a href="#" class="js-destroy">destroy</a>