<label>
    <a class="prefix button dropdown" data-dropdown="#{{dropdownId}}" href="#">Phone</a>
    <input type="text" id="group" name="group" value="{{group}}" />
</label>
<input type="hidden" id="groupId" name="groupId" value="{{groupId}}" />