<h3>Contacts
    <a href="#" class="button button--no-margin icon-plus" data-dropdown="#{{dropdownId}}">Add</a>
</h3>

<div class="scrollable js-scrollable"><div class="contacts-container js-contacts"></div></div>
