<div class="row">
    <input type="text" placeholder="Name *"  aria-label="Name *" id="name" name="name" value="{{name}}" data-parsley-required />
</div>

<div class="row row-buttons">
    <button class="button-ok tiny" type="submit">OK</button>
    <button class="button-cancel js-cancel tiny alert">Cancel</button>
</div>