<div class="row">
    <input type="text" placeholder="Name *"  aria-label="Name *" id="name" name="name" value="{{name}}" data-parsley-required />
</div>

<div class="row">
    <button type="submit">OK</button>
    <button class="js-destroy">Delete</button>
</div>