<a href="#" class="button-user user-name">{{storageId}}</a>
<form class="user-form">
    <div class="row">
        <input type="text" name="storageId" value="{{storageId}}" data-parsley-required />
    </div>
    <button class="icon-ok js-change-storage">Change</button>
</form>