<form>
    <a href="#">User: {{storageId}}</a>
    <div class="row">
        <input type="text" name="storageId" value="{{storageId}}" data-parsley-required />
    </div>
    <button class="js-change-storage">Change</button>
</form>